@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');



@font-face {
    font-family: 'pokemon8bit';
    src: url('assets/font/slkscr.ttf') format('truetype');
}

@font-face {
    font-family: 'pokemon';
    src: url('assets/font/Pokemon\ Solid.ttf') format('truetype');


}



* {
    margin: 0;
    padding: 0;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Cabin', sans-serif;
    list-style: none;
    text-decoration: none;
    cursor: url(assets/icon/cursor.png), auto;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(2, 6, 23);
}

::marker {
    display: none;
}

.container-geral-detalhes {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

section {
    display: flex;
    width: 30vw;
    border-radius: 20px;
    flex-direction: column;
    padding: 30px;
}


#lista-tipo {
    display: flex;
    gap: 1em;
    padding: .8em 0;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
}


#lista-tipo>li {
    padding: .5em;
    border-radius: 1em;
}

#lista-stats {
    text-transform: capitalize;
}

p {
    padding-bottom: .8em;
}

#lista-moves {
    text-transform: capitalize;
    padding-bottom: .8em;
}


h2 {
    padding-bottom: .5em;
}

#spans {
    display: flex;
    padding-bottom: .8em;
    gap: .5em;
}



.nomeDaEstatistica {
    margin-left: 10px;
    font-weight: bold;
}

.container>h1 {
    font-family: 'pokemon';
    color: white
}

.container {
    background-color: red;
}

#content-segunda {
    justify-self: center;
    align-self: center;
}

#titulo {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

#texto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    padding-bottom: 1em;
    justify-content: center;
    align-items: center;
}

#texto>h1 {
    grid-column: span 2;
    color: white;
    text-align: center;
    font-family: pokemon;
}

#texto>a>img {
    height: 10vh;
    width: auto;
    cursor: pointer;
}

body>a>img {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    width: auto;
    cursor: pointer;
}

#btn {
    display: flex;
    width: 30%;
    justify-content: center;
    cursor: pointer;
    border-radius: 10em;
    appearance: none;
    align-items: center;
    border: none;
    padding: .4em;

}


#container-btn {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}




.adicionado:after {
    content: '';
    width: 18px;
    height: 20px;
    background: url('assets/icon/marca-de-verificacao.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

}


#pokemonDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: auto;
}



#content-primeira button {
    width: 100%;
}

#content-terceira>img {
    width: 80%;
    height: auto;
    margin: auto;

}


#content-terceira {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    justify-content: center;
}


ul {
    text-transform: capitalize;
    padding-bottom: .8em;
     line-height: 1.5;
    word-spacing: .2em;

   
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;

}


@media screen and (max-width: 1370px) {
    #pokemonDetails {

        width: 75%;

    }



}

@media screen and (max-width: 460px) {
    #pokemonDetails {
        width: 80%;
    }

    body {
        background-image: none;
    }

    #imagens {
        display: flex;
        justify-content: center;
        gap: 1em;

    }

    #imagens>img {
        height: 10vh;
        width: 20vw;

    }
}