@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



@font-face {
    font-family: 'pokemon8bit';
    src: url('assets/font/slkscr.ttf') format('truetype');
}

@font-face {
    font-family: 'pokemon';
    src: url('assets/font/Pokemon\ Solid.ttf') format('truetype');


}



* {
    margin: 0;
    padding: 0;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'pokemon8bit';
    list-style: none;
    text-decoration: none;
    cursor: url(assets/icon/cursor.png),auto;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(2, 6, 23);
        background-image: url(assets/icon/bolas.png);
        background-size: 15% auto;
        background-repeat: no-repeat;
        background-position-x: 5%;
        background-position-y: bottom;
       
         
    
}

::marker{
    display: none;
}

.container-geral-detalhes{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    width: 30vw;
    border-radius: 20px;
    flex-direction: column;
    padding: 30px;
}

li{
    display: block;
    margin-left: 20px;
}

ul{
   margin: 0px; 
}

h3{
    margin: 5px 5px;
    color: black;
}

h2{
    align-self: center;
}

.barraDeProgresso {
    margin-bottom: 10px;
    height: 30px;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.barraDeProgressoInterior {
    height: 100%;
    background-color: green;
}

.nomeDaEstatistica {
    margin-left: 10px;
    font-weight: bold;
}

.container>h1{
    font-family: 'pokemon';
    color: white
}

.container{
    background-color: red   ;
}

img{
    width: 8vw;
}

#texto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    padding-bottom: 1em;
    justify-content: center;
    align-items: center;
    }

#texto>h1 {
    grid-column: span 2;
    color: white;
    text-align: center;
    font-family: pokemon;
}

#texto>a>img {
    height: 10vh;
    width: auto;
    cursor: pointer;
}


@media screen and (max-width: 460px) {
    #pokemonDetails{
        width: 80%;
    }

    body  {background-image: none;}
   #imagens{
    display: flex;
    justify-content: center;
    gap: 1em;
  
   }

   #imagens > img{
    height: 10vh;
    width: 20vw;
  
   }
}