.tipo-bug {
    background-color: green;
    color: white;
}

.tipo-poison {
    background-color: purple;
    color: white;
}

.tipo-grass {
    background-color: #408521;
    color: white;
}

.tipo-fire {
    background-color: red;
    color: white;
}

.tipo-water {
    background-color: blue;
    color: white;
}

.tipo-flying {
    color: white;
    background-color: coral;
}

.tipo-normal {
    color: black;
    background-color: gray;
}

.tipo-fairy{
    color: black;
    background-color: #ca7386;
}

.tipo-ground{
    color: black;
    background-color: #e0c068;
}

.tipo-electric{
    color: black;
    background-color: #d4b01e;
}


.tipo-psychic{
    color: white;
    background-color: #b9385f;
}

.tipo-ghost{
    color: white;
    background-color: #705898;
}

.tipo-rock{
    color: black;
    background-color: #b8a038;
}

.tipo-ice{
    color: black;
    background-color: #98d8d8;
}

.tipo-dark{
    background-color: #705848;
    color: white;
}

.tipo-fighting{
    color: white;
    background-color: #6b2420;
}

.tipo-steel{
    color: black;
    background-color: #b8b8d0;
}

.tipo-dragon{
    background-color: #7038f8;
    color: white;
}