@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



@font-face {
    font-family: 'pokemon';
    src: url('assets/font/Pokemon\ Solid.ttf') format('truetype');
}




@font-face {
    font-family: 'pokemon8bit';
    src: url('assets/font/slkscr.ttf') format('truetype');
}

#container-vencedor {
    display: none;
    height: 80vh;
    width: 60vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 2%;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;

}




#content-fechar {
    display: flex;
    justify-content: right;
    padding: 1em;


}

#content-fechar>span {
    font-size: 2em;
    cursor: pointer;

}

#container>div>img {
    padding-top: 1em;
    height: 30vh;
}

* {
    margin: 0;
    padding: 0;
    /*font-family: 'Josefin Sans', sans-serif;*/

    list-style: none;
    text-decoration: none;
    cursor: url(assets/icon/cursor.png), auto;
    box-sizing: border-box;

}


main {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/icon/papai.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-y: bottom;
    background-position-x: right;
    width: 100vw;
    justify-content: center;

}

#moves-stats {
    display: flex;
    align-items: center;
}

main>a>img {
    position: fixed;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
  
    cursor: pointer;
}


#duelo {
    margin-top: 1em;
    height: 6vh;
    cursor: pointer;
}



#principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: center;
}

#paginationList {
    display: flex;
    margin-bottom: 100px;
}

.btnPage{
    padding: 5px;
}

#btnVejaMais{
    padding: 5px;
}

#btnVejaMenos{
    padding: 5px;
}

#texto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
}


#texto>a>img {
    height: 10vh;
    cursor: pointer;
}

#texto>h1 {
    grid-column: span 2;
    color: white;
    text-align: center;
    font-family: pokemon;
}





header {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    background-image: url(assets/icon/pngegg.png);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position-x: 10%;
}

header>div>div>h1 {
    font-family: 'pokemon';
    color: white;

}

.content>p {
    color: white;
}

main>h1 {
    color: white;
    padding: 1em;
    font-family: 'pokemon';
}

.content img {
    height: 14vh;
}


.background {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.container {
    border: .5em solid transparent;
    border-radius: 1em;
    overflow: hidden;
    font-size: .8em;
    transition: .4s ease;

}

.container:hover {
    transform: scale(1.1);
    z-index: 999;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 6, 23);
    position: relative;
    height: auto;
}

.imagem-tipos-id {
    position: absolute;
    top: 1%;
    right: 2%;
    font-weight: bold;
    color: white;
}


div.container>div>div>ul>li {
    padding: .5em;
    list-style: none;
    margin: 1em;
    border-radius: 2em;
    text-transform: capitalize;
    text-align: center;
    width: 5vw;
}



.imagem-tipos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    position: relative;
}

.nome {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btnadd {
    border-radius: 10em;
    border: none;
    padding: .3em;
    cursor: pointer;
    font-weight: bold;
}

.background>button {
    padding: .5em;
    border: none;
    border-radius: 5em;
    background-color: rgb(2, 6, 23);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

ul>li {
    margin: .5em;
    padding: .5em;
}


.background>button>a {
    color: white;
}

.background>button>a {
    cursor: pointer;
}

.imagem-tipos img {
    height: 15vh;
}


/* Estilo detalhes */

#divDetalhes {
    height: 100%;
    width: 100%;
}

.container-detalhes {
    display: flex;
    font-size: 0.9em;
}

.tipo-e-ataque {
    margin-right: 5px;
}

.container-detalhes ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container-detalhes h3 {
    margin-top: 5px;
}

.container-detalhes>div {
    text-align: start;
}

.content-tipos>ul>li {
    border-radius: 1em;
}


#stats {
    margin-left: 1.5em;
}

#btn {
    margin-top: 1em;
    text-align: center;

}



.nome>h1 {
    font-size: 1.5em;
}

#vs {
    font-size: 3em;
}

/* 
.tipo-e-ataque li{
    display: flex;
    flex-direction: column;
    text-align: start;
} */

body {
    font-family: 'pokemon8bit';
    background-color: rgb(2, 6, 23);
}

button {
    font-family: 'pokemon8bit';
}

#content-footer>a>img {
    height: 10vh;
}


.flip-card {
    border-radius: 1em;
    width: 20vw;
    height: 39vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    overflow: hidden;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

.flip-card-back li {
    margin: 0px;
    padding: 0px;
}

#detalhesBtn {
    border: none;
    background-color: #f1f1f1;
    margin: 4px 3px;
    border-radius: 5em;
    padding: .5em;
    cursor: pointer;
}


#btn>button>a {
    color: black;
    cursor: pointer;
}


/* Estilo do Footer */


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(2, 6, 23);
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid white;
    padding: 1em;
}

#content-footer {
    display: flex;
    align-items: center;
justify-content: center;
    color: white;
 
}

#content-footer>a>img {
    height: 3vh;
    margin-left: .4em;
    cursor: pointer;
}

#content-footer>a {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: white;
   margin-left: .4em;
   cursor: pointer;
   transition: .5s ease;
}

#content-footer>a:hover {
    color:  blueviolet;
}
#content-footer>h1 {
    font-size: 1.4em;
}

/* Loader */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }