@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



@font-face {
    font-family: 'pokemon';
    src: url('assets/font/Pokemon\ Solid.ttf') format('truetype');
}




@font-face {
    font-family: 'pokemon8bit';
    src: url('assets/font/slkscr.ttf') format('truetype');
}



* {
    margin: 0;
    padding: 0;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'pokemon8bit';
    list-style: none;
    text-decoration: none;
    cursor: url(assets/icon/cursor.png),auto;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(2, 6, 23);
    

}

main>a>img {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    z-index: 999;
    cursor: pointer;
}


#principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    width: 80%; 
    margin: 0 auto; 
    padding: 2em 0;
    justify-content: center;
}

#paginationList{
    display: flex;
    margin-bottom: 100px;
}

#texto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 80%; 
    margin: 0 auto; 
    padding: 2em 0;
    justify-content: center;
    align-items: center;
}


#texto>a>img {
    height: 10vh;
    cursor: pointer;
}

#texto>h1 {
    grid-column: span 2;
    color: white;
    text-align: center;
    font-family: pokemon;
}


header {
    background: rgb(2, 6, 23);
    display: flex;
    color: white;
    justify-content: center;
    padding: 1em;


}

header>h1 {
    font-family: 'pokemon';
}

.content > p{
    color: white;
}

main>h1 {
    color: white;
    padding: 1em;
    font-family: 'pokemon';
}

.content img{
    height: 14vh;
}


.background {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
   padding: 0;
}

.container {
    border:.5em solid transparent;
    border-radius: 1em;
    overflow: hidden;
    font-size:.8em;
    transition: .4s ease;
   
}

.container:hover{
    transform: scale(1.1);
    z-index: 999;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 6, 23);
    position: relative;
    height: auto;
}

.imagem-tipos-id {
    position: absolute;
    top: 1%;
    right: 2%;
    font-weight: bold;
    color: white;
}


div.container>div>div>ul>li {
    padding: .5em;
    list-style: none;
    margin: 1em;
    border-radius: 2em;
    text-transform: capitalize;
    text-align: center;
    width: 5vw;
}



.imagem-tipos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    position: relative;
}

.nome{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.background > button{
    padding: .5em;
    border: none;
    border-radius:5em;
    background-color: rgb(2, 6, 23);
    color: white;
    font-weight: bold;
   cursor: pointer;
}

ul > li{
    margin: .5em;
    padding: .5em;
}


.background > button > a{
  color: white;
}

.background > button > a{
    cursor: pointer;
}

.imagem-tipos img{
    height: 15vh;
}


/* Estilo detalhes */

#divDetalhes{
    height: 100%;
    width: 100%;
}

.container-detalhes{
    display: flex;
    font-size: 0.9em;
}

.tipo-e-ataque{
    margin-right: 5px;
}

.container-detalhes ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.container-detalhes h3{
    margin-top:5px;
}

.container-detalhes>div{
    text-align: start;
}

.content-tipos > ul > li{
    border-radius: 1em;
}

/* 
.tipo-e-ataque li{
    display: flex;
    flex-direction: column;
    text-align: start;
} */




 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    border-radius: 1em;
    width: 20vw;
    height: 30vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    overflow: hidden;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } 
   */
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
 
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
   
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  } 

  .flip-card-back li{
    margin: 0px;
    padding: 0px;
  }

  #detalhesBtn{
    border: 1px black solid;
    background-color: #f1f1f1;
    color: black;
    margin: 4px 3px;
  }