@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
    font-family: 'pokemon';
    src: url('assets/font/Pokemon\ Solid.ttf') format('truetype');

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(2, 6, 23);


}

main>a>img {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 12vh;
}


#principal {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2em;
    width: 100%;
    cursor: pointer;
    padding: 2em;
    justify-content: center;

}



#texto {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 2em;
    width: 100%;
    cursor: pointer;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

#texto>a>img {
    height: 10vh;
}

#texto>h1 {
    grid-column: span 2;
    color: white;
    text-align: center;
    font-family: pokemon;
}


header {
    background: rgb(2, 6, 23);
    display: flex;
    color: white;
    justify-content: center;
    padding: 1em;


}

header>h1 {
    font-family: 'pokemon';
}


main>h1 {
    color: white;
    padding: 1em;
    font-family: 'pokemon';
}



.background {
    text-align: center;
    text-transform: capitalize;
    padding: 1em;
}

.container {
    border: 2px solid black;
    border-radius: 1em;
    overflow: hidden;


}

.content {
    display: flex;

    justify-content: space-around;
    align-items: center;
    background-color: white;
    background-image: url('Pokeball.png');
    background-size: 50%;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20vh;
}

.content p {
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: bold;
}


div.container>div>div>ul>li {
    padding: .5em;
    list-style: none;
    margin: 1em;
    border-radius: 2em;
    text-transform: capitalize;
    text-align: center;
    width: 5vw;
}

.tipo-bug {
    background-color: green;
    color: white;
}

.tipo-poison {
    background-color: purple;
    color: white;
}

.tipo-grass {
    background-color: green;
    color: white;
}

.tipo-fire {
    background-color: red;
    color: white;
}

.tipo-water {
    background-color: blue;
    color: white;
}

.tipo-flying {
    background-color: coral;
}

.tipo-normal {
    background-color: gray;

}